<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= sixdaysPostCount %></td>
        <td><%= fivedaysPostCount %></td>
        <td><%= fourdaysPostCount %></td>
        <td><%= threedaysPostCount %></td>
        <td><%= twodaysPostCount %></td>
        <td><%= yesterdayPostCounts %></td>
        <td><%= todayPostCounts %></td>
      </tr>
  </tbody>
</table>